@font-face {
	font-family: "get-schwifty";
	src: url("./get_schwifty.ttf");
}

.App {
	text-align: center;
	text-decoration: none;
}



.bgImage {
	width: 750px;
}

.charactersBtn,
.locationsBtn {
	margin: 5px;
	width: 150px;
	height: 30px;
	border: none;
	border-radius: 2px;
	font-size: 100%;
	font-weight: 900;
	font-family: "get-schwifty";
	background-image: url("./btnbg.png");
}

.text {
	margin: 0;
	color: white;
	font-size: 30px;
	font-weight: 500;
	font-family: "get-schwifty";
}

.charCard {
	margin: 10px;
	width: 200px;
	height: 350px;
	border: 5px solid transparent;
	border-image: url("./btnbg.png") 30;
	/* background-image: url('./btnbg.png'); */
}
.charContainer,
.locContainer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.img {
	width: 150px;
	height: 150px;
}

.charName,
.charSpec {
	font-size: 20px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	font-family: "get-schwifty";
}

.locCard {
	margin: 5px;
	color: rgb(255, 255, 255);
	font-family: "get-schwifty";
	font-size: 20px;
	font-weight: 700;
	width: 250px;
	height: 150px;
	border: 5px solid transparent;
	border-image: url("./btnbg.png") 30 round;
	/* background-image: url('./btnbg.png'); */
}

a {
	position: absolute;
	color: white;
	font-size: 35px;
}
